:root {
  font-family: 'Poppins', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #f5f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4f6f8;
}

#app {
  min-height: 100vh;
  background: #f4f6f8;
  padding: 40px 20px;
}
